@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown nav navbar-nav navbar-left" style="margin-right:100px;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Minha conta
        </button>
        <ul class="dropdown-menu">
            <li>
                <strong style="font-size: 12px">#@User.Identity.Name &nbsp;</strong>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item btn btn-outline-primary" asp-area="Admin" asp-controller="Manager" asp-action="Index">Admin</a>
                </li>
            }
            @if (User.IsInRole("Cliente"))
            {
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="OrdemServicoManager">Minhas Ordens de Serviço</a>
                </li>
            }
            <li class="dropdown-divider"></li>
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" asp-route-id="logoutForm" method="post">
                    <button type="submit" class="dropdown-item btn btn-outline-primary">
                        Sair
                    </button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="dropdown nav navbar-nav navbar-left" style="margin-right:100px;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Conecte-se
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login"><strong>Login</strong></a></li>
        </ul>
    </div>
}